PORT=5000

MONGODB_URI=mongodb+srv://snehareddyaelijerla_db_user:hirepilot12345@cluster0.cow1zrp.mongodb.net/?appName=Cluster0

JWT_SECRET=

JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

GOOGLE_CALLBACK_URL=

FRONTEND_URL=http://localhost:3000